[submodule "Data-Structures-and-Algorithms"]
	path = Data-Structures-and-Algorithms
	url = https://github.com/kunal5042/Data-Structures-and-Algorithms
[submodule "AWS/Cloud Solutions Architect/aws-sa-associate-saac02"]
	path = AWS/Cloud Solutions Architect/aws-sa-associate-saac02
	url = https://github.com/acantril/aws-sa-associate-saac02.git
